<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the UserAuth</title>
    <style>
      table {
        width: 100%;
      }
      tr {
        text-align: center;
        width: 200px;
        color: white;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th style="height: 80px; background-color: aquamarine"><h1>Welcome</h1></th>
      </tr>
      <tr>
        <th style="height: 200px; background-color: rgb(130, 72, 2)"><p>Welcome to our app <%= first_name %></p></th>
      </tr>
      <tr>
        <th style="height: 60px; background-color: blueviolet">Copyright 2022</th>
      </tr>
    </table>
  </body>
</html>
